/* All Pages */
body{
    margin: auto;
    background-color: black;
    background-image: url(../images/New-Stars.jpg);
}

header{
    background-color: gray;
    background-image: url(../Images/New-Stars.jpg);
    height: 14vh;
    margin: 0;
    width: 100vw;
}

footer{
    height: 14vh;
    width: 100vw;
}

header nav{
    margin-top: 2vh;
    float: right;
}

header nav h3 {
    font-size: 1.4vw;
    display: inline;
    margin: 1.5vw;
    color: white;
}

#title{
    margin-right: 18vw;
    font-size: 2.5vw;
    color: #fce027ff;
}

#title a{
    color: #fce027ff;
}

h3 a{
    text-decoration: none;
    color: white;
}

#logo{
    width: 10%;
    height: 5%;
}

#chars:hover{
    cursor: pointer;
}

#questions-list:hover,#title:hover,#logo:hover{
    cursor: pointer;
}


/* Home Page */
#take{
    color: white;
    position: absolute;
    margin-left: 21vw;
    margin-top: 30vh;
    font-size: 5vw;
}

#start{
    background-color: #fce027ff;
    position: absolute;
    margin-left: 40vw;
    margin-top: 50vh;
    width: 20vw;
    height: 10vh;
    font-size: 3vw;
    color: black;
}


/* Characters List */
#roster-header{
    color: white;
    font-size: 3vw;
    margin-bottom: 0vw;
    margin-left: 38vw;
    margin-top: 10vh;
}

#first-row{
    display: inline;
    width: 80vw;
    height: 50vh;
}

#second-row{
    display: inline;
    width: 80vw;
    height: 50vh;
    margin-top: 100px;
}

.character{
    display: inline-block;
    width: 26%;
    height: 100%;
    margin-left: 6%;
    margin-top: 10vh;
}

.char-pic{
    width: 20vw;
    margin-left: 2%;
    margin-top: 2%;
    height: 25vh;
}

.char-pic:hover{
    cursor: pointer;
}

.bio{
    margin-right: 5.5vw;
    color: #fce027ff;
    margin-bottom: 0;
    text-align: center;
}

.break{
    background-color: black;
    width: 100%;
    height: 1%;
    margin: 0;
}


/* Quiz Cards */
.quiz-card{
    background-color: white;
    width: 30vw;
    height: 73vh;
    margin-left: 33%;
    margin-top: 0vh;
}

.pic{
    width: 100px;
    height: 100px;
}

#question-heading{
    font-size: 300%;
    text-align: center;
    margin-bottom: 8%;

}

.answer-box{
    width: 12vw;
    height: 20vh;
    display: inline-block;
    margin-bottom: 8%;
    margin-left: 6%;
    margin-top: 0;
}

.answer-pic{
    width: 100%;
    height: 100%;
}

#next,#final{
    width: 8vw;
    height: 4vh;
    margin-bottom: 1%;
    margin-left: 36%;
    margin-top: 2%;
}

.answer-text{
    margin-top: 0vh;
    text-align: center;
}

.selected{
    border: red 4px solid;
}


/* Bio Page */
#bio-pic{
    float: left;
    margin-left: 20vw;
    margin-top: 25vh;
}

#the-pic{
    width: 25vw;
    height: 30vh;
}

#bio-info{
    float: right;
    margin-right: 20vw;
    margin-top: 10vh;
    font-size: 1vw;
    font-weight: bolder;
}

.big-bio{
    display: inline-block;
    margin-right: 1vw;
    color: #fce027ff;
}


/* Questions List */
#question-section{
    color: white;
    margin-left: 20%;
    margin-top: 2%;
}

#ques{
    margin-top: 3%;
    color: #fce027ff;
}

#list-header{
    color: white;
    font-size: 3vw;
    margin-top: 10vh;
    margin-bottom: 3vw;
    margin-left: 38vw;
}

.list-answer{
    color: white;
    font-size: 3vh;
    font-style: italic;
}


/* Results */
#results{
    display: flexbox;
    justify-content: center;
}

#results-pic{
    height: 50vh;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 3vw;
}

#results-heading{
    color: white;
    text-align: center;
    font-size: 8vh;
    margin-bottom: 4vh;
}

#results-info{
    display: inline-block;
    color: #fce027ff;
    width: 40vw;
    font-size: 2.25vw;
    margin-left: 5vw;
    text-align: center;
}


/* Your characters */
.your-pic{
    width: 20vw;
    margin-left: 2%;
    margin-top: 2%;
    height: 25vh;
}

#your-characters:hover{
    cursor: pointer;
}

.delete{
    margin-left: 8.25vw;
    margin-top: 1vh;
    width: 4vw;
    height: 3vh;
    color: #fce027ff;
    background-color: black;
    border: white 2px solid;
    font-size: 0.6vw;
}