/* All Pages */
body{
    margin: auto;
    background-color: black;
    background-image: url(../images/New-Stars.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',sans-serif;
}

footer{
    height: 14vh;
    width: 100vw;
}

header nav{
    display: flex;
    margin-top: 0px;
    align-items: baseline;
}

header nav h3 {
    font-size: 150%;
    margin: 25px;
    color: white;
}

#title{
    margin-right: 400px;
    font-size: 300%;
    color: #fce027ff;
}

#title a{
    color: #fce027ff;
}

h3 a{
    text-decoration: none;
    color: white;
}

#logo{
    width: 200px;
    height: 92px;
}

#chars:hover{
    cursor: pointer;
}

#questions-list:hover,#title:hover,#logo:hover{
    cursor: pointer;
}


/* Home Page */
#take{
    color: white;
    position: absolute;
    margin-left: 21vw;
    margin-top: 30vh;
    font-size: 5vw;
}

#start{
    background-color: #fce027ff;
    position: absolute;
    margin-left: 43vw;
    margin-top: 47vh;
    width: 14vw;
    height: 8vh;
    font-size: 3vw;
    color: black;
}


/* Characters List */
#roster-header{
    color: white;
    font-size: 3vw;
    margin-bottom: 0vw;
    margin-left: 38vw;
    margin-top: 10vh;
}

#roster{
    display: inline;
}

.roster-name{
    color: #fce027ff;
    text-align: center;
    margin-left: 25%;
}

.character{
    display: inline-block;
    width: 15%;
    height: 100%;
    margin-left: 6.75%;
    margin-top: 10vh;
}

.char-pic{
    width: 100%;
    height: 100px;
}

@media(min-width: 1200px){
    .char-pic{
        width: 120%;
        margin-left: 2%;
        margin-top: 2%;
        height: 220px;
    }
}

.char-pic:hover{
    cursor: pointer;
}

.bio{
    margin-right: 5.5vw;
    color: #fce027ff;
    margin-bottom: 0;
    text-align: center;
}

.break{
    background-color: black;
    width: 100%;
    height: 1%;
    margin: 0;
}


/* Quiz Cards */
.quiz-card{
    padding: 2%;
    background-image: url(../images/New-Stars.jpg);
    color: white;
    width: 30vw;
    height: 75vh;
    margin-left: 32%;
    margin-top: 4vh;
    padding-top: 0.5%;
    padding-bottom: 0;
}

.pic{
    width: 100px;
    height: 100px;
}

#question-heading{
    font-size: 310%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 1vh;
}

.answer-box{
    width: 13vw;
    height: 21vh;
    display: inline-block;
    margin-bottom: 8%;
    margin-left: 4%;
    margin-top: 0;
}

.answer-pic{
    width: 100%;
    height: 100%;
}

#next,#final{
    width: 8vw;
    height: 4vh;
    margin-bottom: 1%;
    margin-left: 36%;
    margin-top: 2%;
    background-color: grey;
    background-image: url(../images/New-Stars.jpg);
    color: white;
    border: none;
    font-size: 200%;
    text-align: center;
    border-radius: 50%;
    font-weight: bolder;
}

.answer-text{
    margin-top: 0vh;
    text-align: center;
    color: #fce027ff;
}

.selected{
    border: rgb(16, 196, 16) 5px solid;
    width: 95%;
    height: 95%;
}


/* Bio Page */
#bio-pic{
    float: left;
    margin-left: 20vw;
    margin-top: 25vh;
}

#the-pic{
    width: 25vw;
    height: 30vh;
}

#bio-info{
    float: right;
    margin-right: 20vw;
    margin-top: 10vh;
    font-size: 1vw;
    font-weight: bolder;
}

.big-bio{
    display: inline-block;
    margin-right: 1vw;
    color: #fce027ff;
}

.big-bio-white{
    color: white;
}


/* Questions List */
.question-section{
    color: white;
    /* background-color: red; */
    display: inline-block;
    margin-bottom: 1%;
    margin-left: 15%;
    width: 28vw;
    height: 25vh;
} 


#ques{
    margin-top: 3%;
    color: #fce027ff;
}

#list-header{
    color: white;
    font-size: 3vw;
    margin-top: 10vh;
    margin-bottom: 3vw;
    margin-left: 39vw;
}

.list-answer{
    color: white;
    font-size: 3vh;
    font-style: italic;
}


/* Results */
#results{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#results-pic{
    height: 40vh;
    width: 34vw;
    margin-left: 2vw;
    margin-top: 6vh;
}

#results-heading{
    color: white;
    text-align: center;
    font-size: 7vh;
    margin-bottom: 1vh;
}

#results-info{
    display: inline-block;
    color: #fce027ff;
    width: 40vw;
    font-size: 1.9vw;
    margin-left: 5vw;
    text-align: center;
}


/* Your characters */
.your-char{
    display: inline-block;
    width: 26%;
    height: 100%;
    margin-left: 6%;
    margin-top: 10vh;
}
.your-pic{
    width: 20vw;
    margin-left: 2%;
    margin-top: 2%;
    height: 25vh;
}

#your-characters:hover{
    cursor: pointer;
}

.options{
    display: inline;
    height: 50vh;
}
 
.delete,.change{
    margin-left: 4vw;
    margin-top: 1vh; 
    width: 4vw;
    height: 3vh;
    color: #fce027ff;
    background-color: grey;
    background-image: url(../images/New-Stars.jpg);
    border: none;
    font-size: 1vw;
    padding-top: 0.2vw;
} 

.change{
    margin-right: 1vw;
    margin-left: 4.3vw;
    width: 10vw;
    height: 3vh;
} 