*{
    margin: 0;
    padding: 0;
    background-image: url(../images/New-Stars.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',sans-serif;
}

/* HEADER AND FOOTER */

footer{
    width: 100%;
    height: 50px;
}

header{
    width: 100%;
    margin-top: 10px;
}

header nav{
    display: flex;
    margin-top: 0px;
    /* align-items: baseline; */
    color: #fce027ff;
}

#links{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}


header nav h3 {
    font-size: 10px;
    padding: 4px;
}

#title{
    font-size: 18px;
    color: #fce027ff;
    margin-right: 22px;
}

#title a{
    color: #fce027ff;
}

h3 a{
    text-decoration: none;
    color: white;
}

#logo{
    width: 65px;
    height: 40px;
}

#chars:hover{
    cursor: pointer;
}

#questions-list:hover,#title:hover,#logo:hover,#your-characters{
    cursor: pointer;
}

/* MAIN PAGE */

#take{
    text-align: center;
    color: white;
    font-size: 34px;
    margin-top: 200px;
}

#main-body{
    text-align: center;
}

#start{
    background-image: none;
    background-color: #fce027ff;;
    color: black;
    text-align: center;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    font-size: 20px;
}

/* CHARACTER ROSTER */
#roster-header{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
}


#roster{
    display: inline;
}

.roster-name{
    color: #fce027ff;
    text-align: center;
    font-size: 16px;
}

.character{
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 15px;
}

.char-pic{
    width: 175px;
    height: 150px;
}

.char-pic:hover{
    cursor: pointer;
}



/* QUIZ CARDS */
.quiz-card{
    color: white;
    /* background-color: blue; */
    margin-top: 150px;
}

.pic{
    width: 100px;
    height: 100px;
}

#question-heading{
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.answer-box{
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: green;
    margin-left: 28px;
    margin-bottom: 40px;
}

.answer-pic{
    width: 100%;
    height: 100%;
}

#next,#final{
    /* background-image: url(../images/New-Stars.jpg); */
    color: white;
    width: 100px;
    font-size: 25px;
    border: none;
    text-align: center;
    border-radius: 50%;
    font-weight: bolder;
}

.answer-text{
    text-align: center;
    color: #fce027ff;
    font-size: 20px;
}

.selected{
    border: rgb(16, 196, 16) 5px solid;
    width: 95%;
    height: 95%;
}



/* BIO PAGE */

#the-pic{
    margin-left: 70px;
    margin-top: 100px;
    width: 250px;
    height: 200px;
}

#bio-info{
    margin-left: 80px;
    margin-top: 25px;
    font-weight: bolder;
    color: #fce027ff;
    font-size: 20px;
}

#bio-info h3{
    margin-bottom: 16px;
}

.big-bio{
    display: inline-block;
    margin-right: 5px;
    color: #fce027ff;
}

.big-bio-white{
    color: white;
}


/* QUESTIONS LIST */
.question-section{
    color: white;
    display: inline-block;
    background-image: none;
} 

#ques{
    font-size: 25px;
    color: #fce027ff;
    margin-bottom: 5px;
    margin-top: 20px;
    background-image: none;
}

#list-header{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
    background-image: none;
}

.list-answer{
    color: white;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 8px;
    list-style: none;
    background-image: none;
}

/* YOUR CHARACTERS */
.your-char{
    width: 100%;
    color: #fce027ff;
    text-align: center;
    margin-bottom: 50px;
}
.your-pic{
    width: 100%;
    height: 225px;
}

#your-characters:hover{
    cursor: pointer;
}
 
.delete,.change{
    color: #fce027ff;
    /* background-image: url(../images/New-Stars.jpg); */
    border: none;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
} 

.nameBox{
    border: white 2px solid;
    color: #fce027ff;
}



/* RESULTS */
#results{
    margin-top: 20px;
}

#results-pic{
    height: 100%;
    width: 100%;
}

#results-heading{
    color: white;
    text-align: center;
    font-size: 32px;
    margin-bottom: 5px;
    margin-top: 30px;
}

#results-info{
    color: #fce027ff;
    font-size: 24px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}



@media only screen and (min-width: 768px){

/* HEADER AND FOOTER */

footer{
    width: 100%;
    height: 150px;
}

header{
    width: 100%;
    margin-top: 10px;
}

header nav{
    display: flex;
    margin-top: 20px;
    color: #fce027ff;
}

#links{
    margin-top: 10px;
    margin-left: 50px;
}

header nav h3 {
    font-size: 20px;
    padding: 5px;
}

#title{
    font-size: 35px;
    color: #fce027ff;
    padding: 0;
    margin-left: 20px;
}

#title a{
    color: #fce027ff;
}

h3 a{
    text-decoration: none;
    color: white;
}

#logo{
    width: 100px;
    height: 70px;
}

#chars:hover{
    cursor: pointer;
}

#questions-list:hover,#title:hover,#logo:hover,#your-characters{
    cursor: pointer;
}

/* MAIN PAGE */

#take{
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 250px;
}

#main-body{
    text-align: center;
}

#start{
    background-image: none;
    background-color: #fce027ff;;
    color: black;
    text-align: center;
    width: 150px;
    height: 50px;
    margin-top: 15px;
    font-size: 28px;
}

/* CHARACTER ROSTER */
#roster-header{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
}


#roster{
    display: inline;
}

.roster-name{
    color: #fce027ff;
    text-align: center;
    font-size: 16px;
}

.character{
    display: inline-block;
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
}

.char-pic{
    width: 200px;
    height: 175px;
}

.char-pic:hover{
    cursor: pointer;
}



/* QUIZ CARDS */
.quiz-card{
    color: white;
    margin-top: 75px;
}

.pic{
    width: 150px;
    height: 150px;
}

#question-heading{
    font-size: 67px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.answer-box{
    width: 250px;
    height: 250px;
    display: inline-block;
    background-color: green;
    margin-bottom: 50px;
}

.answer-pic{
    width: 100%;
    height: 100%;
}

#next,#final{
    /* background-image: url(../images/New-Stars.jpg); */
    color: white;
    width: 100px;
    font-size: 40px;
    border: none;
    text-align: center;
    border-radius: 50%;
    font-weight: bolder;
}

.answer-text{
    text-align: center;
    color: #fce027ff;
    font-size: 30px;
}

.selected{
    border: rgb(16, 196, 16) 5px solid;
    width: 95%;
    height: 95%;
}



/* BIO PAGE */

#the-pic{
    margin-left: 70px;
    margin-top: 100px;
    width: 450px;
    height: 300px;
}

#bio-info{
    text-align: left;
    margin-left: 300px;
    margin-top: 25px;
    font-weight: bolder;
    color: #fce027ff;
    font-size: 20px;
}

#bio-info h3{
    margin-bottom: 20px;
}

.big-bio{
    display: inline-block;
    margin-right: 10px;
    color: #fce027ff;
}

.big-bio-white{
    color: white;
}


/* QUESTIONS LIST */
.question-section{
    color: white;
    display: inline-block;
    background-image: none;
} 

#ques{
    font-size: 35px;
    color: #fce027ff;
    margin-bottom: 5px;
    margin-top: 40px;
    background-image: none;
    
}

#list-header{
    text-align: center;
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 80px;
    background-image: none;
}

.list-answer{
    color: white;
    font-size: 28px;
    font-style: italic;
    margin-bottom: 8px;
    background-image: none;
}

/* YOUR CHARACTERS */
.your-char{
    width: 100%;
    color: #fce027ff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 75px;
    font-size: 37px;
}
.your-pic{
    width: 500px;
    height: 300px;
}

#your-characters:hover{
    cursor: pointer;
}
 
.delete,.change{
    color: #fce027ff;
    /* background-image: url(../images/New-Stars.jpg); */
    border: none;
    font-size: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
} 

.nameBox{
    border: white 3px solid;
    color: #fce027ff;
    height: 25px;
    width: 175px;
}



/* RESULTS */
#results{
    margin-top: 40px;
    text-align: center;
}

#results-pic{
    height: 350px;
    width: 550px;
}

#results-heading{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 50px;
}

#results-info{
    color: #fce027ff;
    font-size: 32px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 20px;
}

}



@media only screen and (min-width: 1500px){
/* All Pages */


header nav{
    display: flex;
    margin-top: 0px;
    align-items: baseline;
}

header nav h3 {
    font-size: 25px;
    margin: 25px;
    color: #fce027ff;
    display: inline;
}

#title{
    margin-right: 200px;
    font-size: 60px;
    color: #fce027ff;
}

#title a{
    color: #fce027ff;
}

#logo{
    width: 200px;
    height: 95px;
}

#chars:hover{
    cursor: pointer;
}

#questions-list:hover,#title:hover,#logo:hover{
    cursor: pointer;
}


/* Home Page */

#main-body{
    text-align: center;
}

#take{
    color: white;
    font-size: 100px;
}

#start{
    background-color: #fce027ff;
    width: 250px;
    height: 75px;
    font-size: 50px;
    color: black;
}


/* Characters List */
#roster-header{
    color: white;
    font-size: 50px;
    margin-top: 85px;
}

#roster{
    display: inline;
}

.roster-name{
    color: #fce027ff;
}

.character{
    display: inline-block;
    width: 350px;
    height: 100px;
    margin-top: 35px;
}

.char-pic{
    width: 350px;
    height: 225px;
}

.char-pic:hover{
    cursor: pointer;
}


/* Quiz Cards */
.quiz-card{
    padding: 10px;
    color: white;
    width: 550px;
    height: 500px;
    margin-left: 625px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 0;
}

#question-heading{
    font-size: 50px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 10px;
}

.answer-box{
    width: 225px;
    height: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 0;
    padding-right: 14px;
    padding-left: 14px;
}

.answer-pic{
    width: 100%;
    height: 100%;
}

#next,#final{
    background-color: grey;
    /* background-image: url(../images/New-Stars.jpg); */
    color: white;
    border: none;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}

.answer-text{
    text-align: center;
    color: #fce027ff;
}

.selected{
    border: rgb(16, 196, 16) 5px solid;
    width: 95%;
    height: 95%;
}


/* Bio Page */

#whole-bio{
    display: flex;
    margin: 0;
    margin-top: 50px;
}

#bio-pic{
    margin-left: 100px;
}

#the-pic{
    width: 600px;
    height: 400px;
}

#bio-info{
    font-size: 30px;
    font-weight: bolder;
}

.big-bio-white{
    color: white;
}


/* Questions List */
.question-section{
    text-align: center;
    color: white;
    display: inline-block;
    width: 800px;
    background-image: none;
} 


#ques{
    color: #fce027ff;
    background-image: none;
}

#list-header{
    color: white;
    font-size: 45px;
    background-image: none;
}

.list-answer{
    color: white;
    font-size: 30px;
    font-style: italic;
    background-image: none;
}


/* Results */
#results{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#results-pic{
    height: 40vh;
    width: 34vw;
    margin-left: 2vw;
    margin-top: 6vh;
}

#results-heading{
    color: white;
    text-align: center;
    font-size: 7vh;
    margin-bottom: 1vh;
}

#results-info{
    display: inline-block;
    color: #fce027ff;
    width: 40vw;
    font-size: 1.9vw;
    margin-left: 5vw;
    text-align: center;
}


/* Your characters */
.your-char{
    display: inline-block;
    width: 550px;
}
.your-pic{
    width: 450px;
    height: 250px;
}

#your-characters:hover{
    cursor: pointer;
}

.options{
    display: inline;
    height: 50vh;
}
 
.delete,.change{
    color: #fce027ff;
    background-color: grey;
    /* background-image: url(../images/New-Stars.jpg); */
    border: none;
    font-size: 25px;
    padding-top: 0.2vw;
} 

}